<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>User Management Web Application</display-name>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.jsp</location>
	</error-page>
	
	<filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>net.webfaculty.controller.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/</url-pattern>
        <servlet-name>Student</servlet-name>
        <servlet-name>Teacher</servlet-name>
        <servlet-name>Common</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>UserAuth</servlet-name>
        <servlet-class>net.webfaculty.controller.UserAuth</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserAuth</servlet-name>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/insert</url-pattern>
        <url-pattern>/route</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>net.webfaculty.controller.Student</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/list_student</url-pattern>
        <url-pattern>/leave_student</url-pattern>
        <url-pattern>/join_student</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>Teacher</servlet-name>
        <servlet-class>net.webfaculty.controller.Teacher</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Teacher</servlet-name>
        <url-pattern>/list_teacher</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>Common</servlet-name>
        <servlet-class>net.webfaculty.controller.Common</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Common</servlet-name>
        <url-pattern>/courses</url-pattern>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
</web-app>